* {
  margin: 0;
  padding: 0;
}

body {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  height: 100vh;
  width: 100%;
  /* border: 5px solid red; */
  /* box-sizing: border-box; */
  /* padding: 1rem; */
  font-family: Arial, Helvetica, sans-serif;
}

/* .main_container {
} */

span {
  line-height: 0;
}

/* button.add-ticket-button {
  display: block;
  padding: 0.5rem;
  margin-left: auto;
  margin-right: 1rem;
  margin-top: 1rem;
  border: 1px solid black;
  border-radius: 10px;
  box-sizing: border-box;
} */

.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  border: 1px solid black;
  border-radius: 10px;
  box-sizing: border-box;
  width: 300px;
  /* height: 310px; */
  /* height: auto; */
  left: calc(50% - 150px);
  /* top: calc(50% - 155px); */
  top: 30vh;
  background-color: ghostwhite;
}

.modal_active {
  display: flex;
}

/* .widget_login {
  height: auto;
} */

/* .widget-remove-text {
  margin-bottom: 1rem;
} */

.widget_login {
/* width: 40%; */
  padding: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.widget_login h2 {
  text-align: center;
  margin-bottom: 1rem;
}

.widget_form {
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; 
  width: 100%;
}

.widget_input {
  align-self: stretch;
  /* width: 100%; */
  /* height: 2rem; */
  padding: 0.5rem 0.5rem;
  /* margin-top: 1rem; */
  margin-bottom: 1rem;
  resize: none;
}

/* .widget_form_controls {
  margin-top: 1rem;
} */

.widget_footer {
  margin-bottom: 1rem;
  color: red;
  font-size: 0.625rem;
}

/* .widget_footer_string {
  color: red;
} */

.widget_button {
  padding: 0.5rem 1rem;
  border: 1px solid black;
  border-radius: 10px;
  box-sizing: border-box;
}

/* .widget-button:first-child {
  margin-right: 1rem;
} */

button:hover {
  cursor: pointer;
  box-shadow: inset 0 0 5px;
} 

button:focus {
  box-shadow: 0 0 5px;
}

/* button[data-id=cancel] {
  margin-right: 1rem;
} */

.widget_chat {
  display: flex;
  margin: 1rem;  
  /* padding: 1rem;   */
  /* width: 100%; */
  /* border: 1px solid black; */
  /* border-radius: 10px; */
  box-sizing: border-box; 
  /* height: auto; */
  background-color: ghostwhite;
}

.clients_list {
  width: 20%;
  /* background-color: blue; */
  /* margin: 1rem; */
  padding: 1rem;
  border: 1px solid black;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: lightcyan;
}

.clients_list_card {
  display: flex;
  margin-bottom: 1rem;  
}

.clients_list_card_icon {
  background-color: darkgray;
  min-width: 3rem;
  height: 3rem;
  border: 1px solid black;
  border-radius: 50%;
}

.clients_list_card_nickname {  
  /* background-color: orchid; */
  padding: 1rem; 
}

.current_user_card {
  color: red;
}

.chat_messages_wrapper {
  /* display: flex; */
  width: 80%;
  /* margin: 1rem; */
  padding: 1rem;
  border: 1px solid black;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: lightskyblue;
}

.chat_messages {
  /* background-color: orange; */
  padding: 1rem;
  /* height: 100%; */
  height: 75vh;
  overflow-y: scroll;
  font-size: 0.625rem;
  display: flex;
  flex-direction: column;  
}

.chat_messages p {
  margin-top: 0.5rem;
  font-size: 0.75rem;
  font-weight: bold;
  overflow: auto;
}

.chat_message_text {
  margin-top: 1rem;
  /* text-align: left; */
  text-align: center;
  border: solid 1px plum;
  border-radius: 3rem;
  border-bottom-left-radius: 0;
  max-width: 50%;   
  align-self: flex-start;
  padding: 1rem;
  background-color: plum;
}

.chat_join_text {
  margin-top: 1rem;
  /* text-align: center; */
  align-self: center;
  border: white 1px solid;
  border-radius: 2rem;
  background-color: white;
  padding: 1rem;
  color: lightskyblue;
}

.user_message {
  color: red;
  /* text-align: right; */
  align-self: flex-end;  
  border-color: palegoldenrod;
  border-radius: 3rem;
  border-bottom-right-radius: 0;
  background-color: palegoldenrod;
}

.user_message p{
  color: black;
}

.chat_input {
margin-top: 1rem;
margin-bottom: 0;
border-radius: 10px;
}

.hidden {
  display: none;
}